<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.name %></strong> <small>@<%= comment.user.username %></small><br>
        <%= comment.content %>
      </p>
    </div>
    <% if current_user.id == comment.user.id then %>
      <nav class="level">
        <div class="level-left">
          <%= link_to [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "level-item", title: "Delete Comment" do %>
            <span class="icon is-small"><%= fa_icon "trash" %></span>
          <% end %>
        </div>
      </nav>
    <% end %>
  </div>
</article>