<section class="section">
  <div class="container">
    <h2 class="title is-2">A post by: <strong><%= @post.user.name %></strong></h2>
    <hr>
    <p><%= @post.content %></p>
    <br>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
            <%= link_to "Edit", edit_post_path(@post), class: "button is-light" %>
        </div>
        <div class="level-item">
            <%= link_to "Delete", post_path(@post), method: :delete, class: "button is-danger", data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section comments">
  <div class="container">
    <h3 class="subtitle is-4">
      <strong><%= @post.comments.count %></strong>
      <% if @post.comments.count == 1  then %>
        comment
      <% else %>
        comments
      <% end %>
    </h3>
    <%= render @post.comments %>
    <div class="comments-form">
      <h3 class="subtitle is-3">Leave a reply</h3>
      <%= render "comments/form" %>
    </div>
  </div>
</section>