<section class="section">
  <div class="container">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= @post.user.name %></strong> <small>@<%= @post.user.username %></small><br>
            <%= @post.content %>
          </p>
        </div>
        <% if current_user.id == @post.user.id then %>
          <nav class="level">
            <div class="level-left">
              <%= link_to "Edit", edit_post_path(@post), class: "level-item" %>
              <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "level-item" %>              
            </div>
          </nav>
        <% end %>
        <% if @post.comments.count == 1 then %>
          <p><strong>1 Comment</strong></p>
        <% else %>
          <p><strong><%= @post.comments.count %> Comments</strong></p>
        <% end %>
        <%= render @post.comments %>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <%= render "comments/form" %>
      </div>
    </article>
  </div>
</section>